.badge-container {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  gap: 10px;
  -ms-overflow-style: none; /* For IE and Edge */
  scrollbar-width: none; /* For Firefox */
}
.badge-container > span {
  font-size: 1rem;
  font-weight: 400;
  margin-right: 10px;
  border: 1px solid rgb(156, 156, 156);
  cursor: pointer;
}

.badge {
  color: black;
}

.bg-blue {
  background-color: #2524d1;
  color: #fff;
  border: none;
}
